.header{ 
	background-image: url("../img/background.jpg");
	background-size: cover;
	padding: 0 0 200px;
  }
  
  .btn-primary {
	  background-color: #071C4D;
	  border: 0;
	  padding: 15px 40px 15px 40px;
	  font-size: 16px;
	  font-family: 'Poppins', sans-serif;
	  font-weight: 600;
  }
  
  .btn-primary:hover {
	  background-color: #ffb23d;
	  border: 0;
  }
  
  .btn-secondary {
	  background: none;
	  border: 1px solid #BCD0E5;
	  padding: 15px 40px 15px 40px;
	  font-size: 16px;
	  font-family: 'Poppins', sans-serif;
	  font-weight: 600;
	  color: #173A56;
  }
  
  .btn-header {
	background-color: #FF9E53;
	color: #ffffff;
	padding: 12px;
  }
  
  .btn-secondary:hover {
	  background: none;
	  border: 1px solid rgb(136, 164, 196);
	  color: #173A56
  }
  
  .btn-link {
	  font-family: 'Poppins';
	  font-weight: 500;
	  color: #FF9900;
  }
  
  .hero {
	margin-top: 180px;
  }
  
  .hero h1 {
	  font-family: 'Poppins';
	  font-weight: 700;
	  color: #ffffff;
	  font-size: 46px;
  }
  
  .hero P {
	  font-family: 'Poppins';
	  font-weight: 400;
	  color: #ffffff;
  }
  
  .navbar-nav .nav-link {
	  color: #2f281e;
  }
  
  .navbar-nav .nav-item .nav-link {
	  color: #2f281e;
  }
  
  .navbar-nav .nav-item .nav-link:hover {
	  color: #a17435;
  }
  
  @media only screen and (max-width: 768px) {
  
	  .btn-primary,
	  .btn-secondary {
		  margin-top: 10px;
		  margin-left: 0 !important;
	  }
  }
  
  .section-popular {
	  min-height: 538px;
	  background-color: #051334;
	  margin-bottom: -280px;
	}
	
	.section-popular .section-popular-heading {
	  margin-top: 80px;
	}
	
	.section-popular .section-popular-heading h2, .section-popular .section-popular-heading p {
	  color: #ffffff;
	}
	
	.section-popular .section-popular-heading h2 {
	  font-family: 'Playfair Display', serif;
	  font-weight: bold;
	  font-size: 40px;
	}
	
	.section-popular .section-popular-heading p {
	  font-size: 18px;
	}
	
	.section-popular-content .section-popular-travel .card-travel {
	  min-height: 380px;
	  background-color: #c4c4c4;
	  color: #ffffff;
	  padding: 30px;
	  background-size: cover;
	  margin-bottom: 20px;
	  
	}
	
	.section-popular-content .section-popular-travel .travel-country {
	  font-size: 18px;
	  color: #ffffff;
	}
	
	.section-popular-content .section-popular-travel .travel-location {
	  font-size: 26px;
	  color: #ffffff;
	}
	
	.section-popular-content .section-popular-travel .travel-button .btn-travel-details {
	  background-color: #FF9E53;
	  color: #ffffff;
	}
	
	.section-popular-content .section-popular-travel .travel-button .btn-travel-details:hover {
	  background-color: #071C4D;
	  color: #ffffff;
	}
  
	.section-testimonial-heading {
	  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#f7f9ff));
	  background: linear-gradient(#fff 0%, #f7f9ff 100%);
	  padding-top: 50px;
	  min-height: 506px;
	}
	
	.section-testimonial-heading h2 {
	  font-family: 'Playfair Display', serif;
	  font-weight: bold;
	  font-size: 40px;
	}
	
	.section-testimonial-heading p {
	  font-size: 18px;
	}
	
	.section-testimonial-content {
	  margin-top: -300px;
	  padding-bottom: 50px;
	}
	
	.section-testimonial-content .card-testimonial {
	  padding: 35px 10px 10px;
	  border-radius: 11px;
	  margin-bottom: 20px;
	}
	
	.section-testimonial-content .card-testimonial .testimonial-content {
	  min-height: 380px;
	}
	
	.section-testimonial-content .card-testimonial h3 {
	  font-family: 'Assistant', sans-serif;
	  font-size: 22px;
	  font-weight: 700px;
	}
	
	.section-testimonial-content .card-testimonial .testimonial {
	  font-weight: 200;
	  font-size: 24px;
	  color: #6e6e6e;
	  min-height: 140px;
	}
	
	.section-testimonial-content .card-testimonial .trip-to {
	  font-weight: normal;
	  font-size: 22px;
	  color: #6e6e6e;
	}
	
	.section-testimonial-content .card-testimonial hr {
	  margin-left: -11px;
	  margin-right: -11px;
	}
	
	.section-testimonial-content .btn-get-started {
	  background-color: #FF9E53;
	  color: #ffffff;
	}
	
	.section-testimonial-content .btn-get-started:hover {
	  background-color: #071C4D;
	  color: #ffffff;
	}
	
	.section-testimonial-content .btn-need-help {
	  background-color: #F2F2F2;
	  color: #A59D9D;
	}
	
	.section-testimonial-content .btn-need-help:hover {
	  background-color: #b6b4b4;
	  color: #ffffff;
	}